<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<title>Welcome! - story36524.appspot.com</title>
	<link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico" />
	<link rel="stylesheet" href="../static/css/bluestyle.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../static/css/blueflexslider.css" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css' />
	
	<script src="../static/js/jquery-1.8.0.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="js/modernizr.custom.js"></script>
	<![endif]-->
	<script src="../static/js/jquery.flexslider-min.js" type="text/javascript"></script>
	<script src="../static/js/functions.js" type="text/javascript"></script>
</head>
<body>
	<div id="wrapper">
		
		<!-- top-nav -->
		<nav class="top-nav">
			<div class="shell">
				<a href="#" class="nav-btn">主页<span></span></a>
				<span class="top-nav-shadow"></span>
				<ul>
					<li class="active"><span><a href="#">主页</a></span></li>
					<li><span><a href="../static/sanban.html">图片故事</a></span></li>
					<li><span><a href="../static/blog.html">技术博客</a></span></li>
					<li><span><a href="#">网站的诞生</a></span></li>
					<li><span><a href="../static/specialday.html">特别策划</a></span></li>
					<li><span><a href="#"></a></span></li>
					<li><span><a href="#"></a></span></li>
				</ul>
			</div>
		</nav>
		<!-- end of top-nav -->
			<!-- header -->
			<header  id="header">
				<!-- shell -->
				<div class="shell">
					<div class="header-inner">
						<!-- header-cnt -->
						<div class="header-cnt">
							<h1>欢迎</h1>		
							<p>
								<span class="mobile">现在，我的网站只有两类内容，一个是图片故事，另一个是技术茶楼。</span>
								<span class="desktop"></span>
							</p>
							
						</div>
						<!-- end of header-cnt -->
						<!-- slider -->
						<div class="slider-holder">
							<div class="flexslider">
								<ul class="slides">
									<li><img src="../static/images/sunsetoftamsui.png" alt="" /></li>
								
									<li><img src="../static/images/sunsetofpenghuwan2.png" alt="" /></li>

									<li><img src="../static/images/luguhu.png" alt="" /></li>

									<li><img src="../static/images/chongqing.png" alt="" /></li>

									<li><img src="../static/images/biyesuiyue.png" alt="" /></li>
								</ul>
							</div>
						</div>
						<!-- end of slider -->
						<div class="cl">&nbsp;</div>
					</div>
					<div class="cl">&nbsp;</div>
				</div>
				<!-- end of shell -->	
			</header>
			<!-- end of header -->
			<!-- main -->
			<div class="main">
				<span class="shadow-top"></span>
				<!-- shell -->
				<div class="shell">
					<div class="container">
						<!-- testimonial -->
						<section class="testimonial">
							<h2>今日更新</h2>
							<p><strong>“</strong>我得到的都是侥幸啊，我失去的都是人生。<span class="mobile">"</span></p>
						</section>
						<!-- testimonial -->

						<section class="blog">
							<!-- content -->
							<div class="content">
								<img src="../static/images/graduate.png" alt=""  class="alignleft"/>
								<div class="cnt">
									<h3>友情链接</h3>
									<p></p>
									<ul>
										<li><a href="http://weibo.com/u/2130735920">我的微博</a></li>
										<li><a href="http://weibo.com/u/1784242624">116的微博</a></li>
										<li><a href="#">广告位出租</a></li>
										<li><a href="#">广告位出租</a></li>
									</ul>
								</div>
							</div>
							<!-- end of content -->

							<!-- sidebar -->
							<aside class="sidebar">
								<!-- widget -->
								<div class="widget">
									<h3>近期文章</h3>
									<ul>
										<li>
											<div class="img-holder">
												<a href="#"><img src="../static/images/sunsetoftamsui.png" alt="" /></a>
											</div>
											
											<p><a href="#">淡水日落</em> </a><span>2013.03.03</span></a> </p>
										</li>
										<li>
											<div class="img-holder">
												<a href="#"><img src="../static/images/sunsetofpenghuwan2.png" alt="" /></a>
											</div>
											<p><a href="#">澎湖湾日落</em> </a><span>01.02.2012</span></a> </p>
										</li>
										<li>
											<div class="img-holder">
												<a href="#"><img src="../static/images/luguhu.png" alt="" /></a>
											</div>
											<p>
											<a href="#">冬日里的泸沽湖</em> 
											<span>30.01.2012</span></a></p>
										</li>
									</ul>
									<div class="cl">&nbsp;</div>
								</div>
									<a href="#" class="view">刚刚开始建网站，文章很少</a>
								<!-- end of widget -->
							</aside>
							<!-- end of sidebar -->
							<div class="cl">&nbsp;</div>
						</section>	
						
						<!-- cols -->
						<section class="cols">
							<div class="col">
								<h3>关于本站</h3>
								<img src="../static/images/cols-img.png" alt="" class="alignleft"/>
								<div class="col-cnt">
									<p>这个网站部署在Google App Engine上，既然是Google的服务，除了国内之外都能访问。Google App Engine是一个免费的云计算平台，可以提供虚拟服务器功能。为什么不用Baidu App Engine，因为收费了。</p>
								</div>
								<a href="#" class="view">没有更多内容了</a>
							</div>
							<div class="col">
								<h3>拥抱互联网</h3>
								<img src="../static/images/cols-img2.png" alt="" class="alignleft"/>
								<div class="col-cnt">
									<p>之前看见思科的工程师使用web2py框架自己搭了个运维工具。前端界面及其友好，后端的数据库对于了解网络和故障的分析都有很大的帮助。Web开发正在向无所不能前进着。</p>
								</div>
								<a href="#" class="view">没有更多内容了</a>
							</div>
							<div class="col">
								<h3>故事</h3>
								<img src="../static/images/cols-img3.png" alt="" class="alignleft"/>
								<div class="col-cnt">
									<p>这里的故事包括旅行、技术、还有黑历史，有情怀的黑历史。</p>
								</div>
								<a href="#" class="view">没有更多内容了</a>
							</div>
							<div class="cl">&nbsp;</div>
						</section>
						<!-- end of cols -->
					</div>
				<!-- end of shell -->
				</div>
				<!-- end of container -->
			</div>
			<!-- end of main -->
		</div>	
		<!-- footer-push -->
		<div id="footer-push"></div>
		<!-- end of footer-push -->
	
	<!-- end of wrapper -->
	<!-- footer -->
	<div  id="footer">
		<span class="shadow-bottom"></span>
		<!-- footer-cols -->
		<div class="footer-cols">
			<!-- shell -->
			<div class="shell">
				<div class="col">
					<h3><a href="#">Solutions</a></h3>
					<div class="col-cnt">
						<ul>
							<li><a href="#">Lorem lipsum dolor </a></li>
							<li><a href="#">Ame tleo libero dolor</a></li>
							<li><a href="#">Aidpispicing lipsum </a></li>
							<li><a href="#">Commodo id amet </a></li>
							<li><a href="#">Sectetur amet au car </a></li>
						</ul>
					</div>
				</div>
				<div class="col">
					<h3><a href="#">Services</a></h3>
					<div class="col-cnt">
						<ul>
							<li><a href="#">Lorem lipsum dolor </a></li>
							<li><a href="#">Ame tleo libero dolor</a></li>
							<li><a href="#">Aidpispicing lipsum </a></li>
							<li><a href="#">Commodo id amet </a></li>
							<li><a href="#">Sectetur amet au car </a></li>
						</ul>
					</div>
				</div>
				<div class="col">
					<h3><a href="#">Portfolio</a></h3>
					<div class="col-cnt">
						<ul>
							<li><a href="#">Lorem lipsum dolor </a></li>
							<li><a href="#">Ame tleo libero dolor</a></li>
							<li><a href="#">Aidpispicing lipsum </a></li>
							<li><a href="#">Commodo id amet </a></li>
							<li><a href="#">Sectetur amet au car </a></li>
						</ul>
					</div>
				</div>
				<div class="col">
					<h3><a href="#">Contact Us</a></h3>
					<div class="col-cnt">
						<p><strong>Email:</strong> <a href="#">info@yourwebsitename.com</a></p>
						<p><strong>Phone:</strong> 655-606-111</p>
						<p><strong>Adress:</strong> East Pixel Bld. 99, Creative City 9000,Republic of Design Email:</p>	
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
			<!-- end of shell -->
		</div>
		<!-- end of footer-cols -->
		<div class="footer-bottom">
			<div class="shell">
				<nav class="footer-nav">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Solutions</a></li>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contacts</a></li>
					</ul>
					<div class="cl">&nbsp;</div>
				</nav>
				<p class="copy">&copy; Copyright 2012<span>|</span>Sitename. Design by <a href="http://chocotemplates.com" target"_blank">ChocoTemplates.com</a></p>
			</div>
		</div>
	</div>
	<!-- end of footer -->
</body>
</html>