<!DOCTYPE html>
<html>

  <head>
    
    <link href="http://127.0.0.1:8000/welcome/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
    
  </head>


  <body bgcolor="#b48a57">
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="#">Name</a></li>
          <li><a href="#">Browse</a></li>
        </ul>
        <ul class="pull-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>三班新英格兰小分队记事</h1>
        <p>摘取自116的微博</p>
        <a href="http://localhost:8000/welcome/specialday.html">特别策划</a>
      </div>
    </div> 
    
    <div class="neighborhood-guides">
        <div class="container">
            <h2>活动剪影</h2>
            <p>最右是教主的成名照片</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/welcome/static/images/20150413235626.jpg" >
                     </div>
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/welcome/static/images/20150413235434.jpg" >
                     </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/welcome/static/images/20150413235445.jpg" >
                     </div>
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/welcome/static/images/20150413235455.jpg" >
                     </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://127.0.0.1:8000/welcome/static/images/20150413235510.jpg" >
                     </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="learn-more">
    <div class="container">
    <div class = "row">
        <div class="col-md-4">
      <h3>学习</h3>
      <p>好好学习，天天向上</p>
      <p><a href="#">Learn more</a></p>
        </div>
      <div class="col-md-4">
      <h3>生活</h3>
      <p>Happy</p>
      <p><a href="#">Learn more</a></p>
      </div>
      <div class="col-md-4">
      <h3>打牌</h3>
      <p>^_^</p>
      <p><a href="#">Learn more</a></p>
      </div>
      </div>
    </div>
  </div>
  </body>
</html>